<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hackathon Alibaba - Team Hura</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='assets/style.css') }}"
        />
    </head>
    <body>
        <div id="app" class="container">
            <div id="chat_container"></div>
            <form id="chat-form">
                <textarea
                    id="prompt-textarea"
                    name="prompt"
                    cols="1"
                    rows="1"
                    placeholder="Ask me anything..."
                    oninput="autoResize(this); showSuggestions(this.value)"
                ></textarea>
                <button type="submit">
                    <img
                        src="{{ url_for('static', filename='assets/icons/send.svg') }}"
                    />
                </button>
                <button
                    type="button"
                    id="speechButton"
                    data-microphone-on="{{ url_for('static', filename='assets/icons/microphone.svg') }}"
                    data-microphone-off="{{ url_for('static', filename='assets/icons/microphone-off.svg') }}"
                >
                    <img
                        src="{{ url_for('static', filename='assets/icons/microphone.svg') }}"
                        alt="Start/Stop Speech Input"
                    />
                </button>
                <select id="languageSelect">
                    <option value="en-US">English</option>
                    <option value="id-ID">Indonesian</option>
                    <option value="zh-CN">Chinese</option>
                </select>
            </form>
        </div>

        <script type="text/javascript">
            window.botIcon =
                "{{ url_for('static', filename='assets/icons/bot.svg') }}";
            window.userIcon =
                "{{ url_for('static', filename='assets/icons/user.svg') }}";
            window.googleMapsApiKey = "AIzaSyCMStVxIAgJETgmkls2wGVe_VU-YCscJIU";
            window.microphoneOnIcon =
                "{{ url_for('static', filename='assets/icons/microphone.svg') }}";
            window.busIcon =
                "{{ url_for('static', filename='assets/icons/bus-icon.svg') }}";
            window.microphoneOffIcon =
                "{{ url_for('static', filename='assets/icons/microphone-off.svg') }}";
        </script>

        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMStVxIAgJETgmkls2wGVe_VU-YCscJIU&libraries=places"
            async
            defer
        ></script>
        <script src="{{ url_for('static', filename='assets/scripts/map.js') }}"></script>
        <script
            type="module"
            src="{{ url_for('static', filename='assets/scripts/utilities.js') }}"
        ></script>
        <script
            type="module"
            src="{{ url_for('static', filename='assets/scripts/llm.js') }}"
        ></script>
        <script src="{{ url_for('static', filename='assets/scripts/general.js') }}"></script>
    </body>
</html>
